<app-navbar></app-navbar>
<div class="container custom-padding">
    <div class="row">
        <div class="col-4">
            <div class="p-3 white-backgound">
                <label>Consider trading in your vehicle for a BMW? Let's get started</label>
                <div class="d-flex justify-content-center">
                    <button class="mt-3 trade-in-button">
                        <strong>
                            Add a trade-in
                        </strong>
                    </button>
                </div>
            </div>
            <div class="mt-3 p-3 benefits-wrapper">
                <div class="d-flex justify-content-between pt-2 pb-5">
                    <strong>ADDED BENEFITS</strong>
                    <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
                    </svg>
                </div>
                <div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <span class="slider-text">Tyre & Rim Cover</span>
                </div>
                <div class="mt-1">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <span class="slider-text">Care & Cosmetic Repair</span>
                </div>
                <div class="mt-1">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <span class="slider-text">Top Up Cover</span>
                </div>
            </div>
            <div class="mt-1 p-3 demo-wrapper">
                <div class="d-flex justify-content-between pt-2 pb-3">
                    <strong>NEW / DEMO</strong>
                    <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
                    </svg>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="checkbox-checked" />
                        <span class="slider-text">Demo</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="checkbox-checked" checked />
                        <span class="slider-text">New</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row white-backgound">
                <div class="col-2 overlapping-divs">
                    <strong class="result">6</strong>
                    <small>Results</small>
                </div>
                <div class="col-7 filter">
                    <small>Filtered by:</small>
                    <div class="row">
                        <div role="group" aria-label="Basic example">
                            <button type="button" class="btn filter-buttons">New / Demo
                                <svg width="10" fill="blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                                </svg>
                            </button>
                            <button type="button" class="btn filter-buttons">Series and Body Type
                                <svg width="10" fill="blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2">
                    <span>Sort by: </span>
                    <select>
                        <option value="1">Price: High to Low</option>
                        <option value="2">Price: Low to High</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3 white-backgound">
                <div class="col-7">
                    <div class="banner-background row d-flex justify-content-center banner-padding">
                        <div class="banner-background row d-flex justify-content-center banner-padding">
                            <div class="sticky-navbar">
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col descriptors">
                            <strong class="units">7.5</strong>
                            <sub>sec</sub>
                            <label class="units-description">0-100 km/h</label>
                        </div>
                        <div class="col descriptors">
                            <strong class="units">135</strong>
                            <sub>kW</sub>
                            <label class="units-description">Engine Performance</label>
                        </div>
                        <div class="col text-center">
                            <strong class="units">6.3</strong>
                            <sub>l/100km</sub>
                            <label class="units-description">Fuel Consumption
                                <span>(combined)</span>
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center p-4 pointer">
                        <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
                        </svg>
                        <strong class="text-decoration">More Specifications</strong>
                    </div>
                </div>

                <div class="col-5 spec-outlayer">
                    <div class="d-flex justify-content-between">
                        <h4>BMW 220i</h4>
                        <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/>
                        </svg>
                    </div>
                    
                    <label class="pb-2">COUPÉ</label>
                    <div class="row">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn multi-buttons">New</button>
                            <button type="button" class="btn multi-buttons">Petrol</button>
                            <button type="button" class="btn automatic-multi-buttons">Automatic</button>
                        </div>
                    </div>
                    <label class="pt-2 pb-2">Delivery within 1 week</label>
                    <div class="row grey-background align-center">
                        <div class="col">
                            <small>Per Month</small>
                        </div>
                        <div class="col">
                            <h4>R 12 457</h4>
                        </div>
                    </div>
                    
                    <div class="row second-grey-back align-center">
                        <div class="col">
                            <small>Offer Price</small>
                        </div>
                        <div class="col">
                            <strong>R 857 190</strong>
                        </div>
                    </div>

                    <div class="row second-grey-back align-center">
                        <div class="col">
                            <svg width="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"/>
                            </svg>
                            <strong class="text-decoration space">Email quote</strong>
                        </div>
                        <div class="col">
                            <svg width="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z"/>
                            </svg>
                            <strong class="text-decoration space">Payment Options</strong>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="row">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary p-2 text-bold spec-buttons">
                                    <svg width="14px" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                                    </svg>
                                    Compare
                                </button> 
                                &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-primary p-2 text-bold spec-buttons">View Vehicle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div *ngFor ="let data of carDetails.data">
                    {{data}}
            </div>
            Car Details: {{ carDetails | json }}
            <!-- <div [innerHTML]="carDetails"></div> -->
        </div>
    </div>
  </div>
